body{
  margin: 0;
  padding: 0;
  background: url(../media/bg1.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: center;
}
.social a{
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 40px;
  transition: all ease-in-out 250ms;
}
.social a:hover{
  color: #f0974e;
}
@media only screen and (max-width: 730px)
{
  body{
    margin: 0;
    padding: 0;
    background: url(../media/bg.jpg) no-repeat !important;
    background-size: cover;
    width:100%; 
  }
  .box{
    width: 350px;
    background: rgba(39, 38, 38, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 20% ! important;
    color: white;
    font-family: 'Century Gothic',sans-serif;
  }
  .box h1{
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: 100;
  }
  .box h5{
    font-size: 17px;
    letter-spacing: 3px;
    font-weight: 100;
  }
  .social a{
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    transition: all ease-in-out 250ms;
  }
  .box-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
  }
}